pipeline/PL_TSV_2_Parquet.json
{
	"name": "PL_TSV_2_Parquet",
	"properties": {
		"activities": [
			{
				"name": "Parquet_2_Snowflake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Tsv_2_Parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"additionalColumns": [
							{
								"name": "di_job_id",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "di_load_dt",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "staging"
					}
				},
				"inputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('myFileName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_Snowflake",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "TEMP_SCHEMA",
							"TableName": "PET_LICENSE_STAGE"
						}
					}
				]
			},
			{
				"name": "Tsv_2_Parquet",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": true,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('myFileName')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"myFileName": {
				"type": "String",
				"defaultValue": "pet_lic.parquet"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-07T03:55:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}